html {
    margin: 0;
    
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.main-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px;
    border-color: rgb(147, 230, 255);
    box-shadow: 5px 10px #a9eafc;
    height: 100vh;
    background-color: rgb(209, 245, 253);
    text-align: center;
}



p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;

}

app-dropdown-menu {
    margin-top: 0px;
}

@media only screen and (max-width: 800px) {
    .profile-header {
        height: 300px;
        background-color: rgb(122, 241, 252);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-circle {
        position: absolute;
        background-color: white;
        width: 98px;
        height: 120px;
        border-radius: 100px;
        border: 5px solid rgb(80, 200, 255);
        margin-top: 20px;
    }
    
    .profile-img {
        width: 98px;
        height: 120px;
        border-radius: 100px;
    }

    h4 {
        white-space: nowrap;
        margin-left:-100%;
        margin-right:-100%;
        color: rgb(0, 0, 0);
        text-indent: 600;
        -webkit-text-stroke: 0.3px rgb(253, 253, 253);
        margin-top: 5px;
        margin-bottom: 5px;
    }

    h5 {
        color: rgb(109, 109, 109);
        margin-bottom: 5px;
        margin-top: 1px;
    }

    .personal-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -20%;
        margin-right:-100%;
    }

    .detail-row-one {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    p {
        font-size: small;
        color: rgb(43, 43, 43);
    }
  
    .phone-icon {
        width: 20px;
    }

    .email-icon {
        width: 20px;
        height: 20px;
    }
}   

@media only screen and (min-width: 800px) {

    app-dropdown-menu {
        width: 298.5px;
    }

    .profile-header {
        height: 400px;
        width: 300px;
        background-color: rgb(122, 241, 252);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile-circle {
        position: absolute;
        background-color: white;
        width: 98px;
        height: 120px;
        border-radius: 100px;
        border: 5px solid rgb(80, 200, 255);
        margin-top: 20px;
    }
    
    .profile-img {
        width: 98px;
        height: 120px;
        border-radius: 100px;
    }

    h4 {
        white-space: nowrap;
        margin-left:-100%;
        margin-right:-100%;
        color: rgb(0, 0, 0);
        text-indent: 600;
        -webkit-text-stroke: 0.3px rgb(253, 253, 253);
        margin-top: 5px;
        margin-bottom: 5px;
    }

    h5 {
        color: rgb(109, 109, 109);
        margin-bottom: 5px;
        margin-top: 1px;
    }

    .personal-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -20%;
        margin-right:-100%;
    }

    .detail-row-one {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    p {
        font-size: small;
        color: rgb(43, 43, 43);
    }
  
    .phone-icon {
        width: 20px;
    }

    .email-icon {
        width: 20px;
        height: 20px;
    }
}
