<html>
    <body>
        <div class="main-div">
            <div class="profile-header">
                <div class="profile-circle">
                    <img class="profile-img" src="../.././assets/euu.jpg"/>
                    <h4>Scarlat Alexandru-Georgian</h4>
                    <h5 class="">Sef la mine acasa</h5>
                    <hr/>
                    <div class="personal-info">
                        <div class="detail-row-one">
                            <img class="phone-icon" src="../../assets/phone.svg"/>
                            <p>+40744441661</p>
                        </div>
                        <div class="detail-row-one">
                            <img class="email-icon" src="../../assets/mail.png"/>
                            <p>george.scarlat97@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <app-dropdown-menu></app-dropdown-menu>
            <div class="profile-body"></div>
        </div>
    </body>
</html>

